@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

@media only screen and (max-width: 820px) {
  main {
    padding: 0 1.5rem;
    padding-top: 130px;
  }
}
h1 {
  color: #292d33;
  font-size: 46px;
  line-height: 60px;
  font-weight: bolder;
  margin-bottom: 15px;
}

h2 {
  color: #292d33;
  font-size: 38px;
  line-height: 56px;
  font-weight: bolder;
  margin-bottom: 15px;
}

h3 {
  color: #292d33;
  font-size: 30px;
  line-height: 40px;
  font-weight: bolder;
  margin-bottom: 15px;
}

p {
  color: #9497a1;
  font-size: 20px;
  line-height: 33px;
  font-weight: normal;
  margin-bottom: 15px;
}

.p2 {
  color: #9497a1;
  font-size: 16px;
  line-height: 28px;
  font-weight: normal;
  margin-bottom: 15px;
}

.p2-bolder {
  color: #9497a1;
  font-size: 16px;
  line-height: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}

@media only screen and (max-width: 400px) {
  h1 {
    color: #292d33;
    font-size: 30px;
    line-height: 40px;
    font-weight: bolder;
    margin-bottom: 15px;
  }
  p {
    color: #9497a1;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    margin-bottom: 15px;
  }
  .p2 {
    color: #9497a1;
    font-size: 12px;
    line-height: 24px;
    font-weight: normal;
    margin-bottom: 15px;
  }
  .p2-bolder {
    color: #9497a1;
    font-size: 12px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }
}
.btn-primary {
  font-weight: bold;
  font-size: 14px;
  background-color: #185cff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 1em 1.5em;
  box-shadow: 0px 12px 30px 0px rgba(24, 92, 255, 0.2);
}

.btn-primary {
  cursor: pointer;
}

.btn-white {
  font-weight: bold;
  font-size: 14px;
  background-color: white;
  color: #292d33;
  border: none;
  border-radius: 5px;
  padding: 1em 1.5em;
  box-shadow: 0px 12px 30px 0px rgba(111, 113, 117, 0.2);
}

.btn-white {
  cursor: pointer;
}

.navbar {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;
}
.navbar ul a {
  color: #9497a1;
}
.navbar ul a:hover {
  color: #185cff;
  padding-bottom: 0.2em;
  border-bottom: 2.5px solid #185cff;
}
.navbar button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.navbar button i {
  font-size: 20px;
}
.navbar .burger {
  display: none;
}
.navbar .burger .hamburger-inner,
.navbar .burger .hamburger-inner::before,
.navbar .burger .hamburger-inner::after {
  background-color: #185cff;
}

nav {
  display: none;
}

@media only screen and (max-width: 820px) {
  .navbar {
    position: absolute;
    width: 100%;
  }
  .navbar ul {
    display: none;
  }
  .navbar button {
    display: none;
  }
  .navbar .burger {
    display: block;
  }
  nav {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    background-color: #185cff;
    transform: translateX(100%);
    transition: all 1s;
  }
  nav .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1.5rem;
    margin-bottom: 1rem;
  }
  nav img {
    width: 150px;
  }
  nav ul li {
    border-bottom: 2px solid white;
    padding: 1.5rem 1rem;
    margin: 0 20px;
  }
  nav ul li a {
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  nav .socmed {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  nav .socmed p {
    margin: 20px 0;
    color: white;
    font-size: 20px;
    font-weight: bolder;
  }
  nav .socmed img {
    margin-left: 5px;
    width: 40px;
  }
  .slide {
    transform: translateX(0);
  }
}/*# sourceMappingURL=main.css.map */