@use '../modules/flexbox' as fb;
@use '../modules/colors' as colors;

.advantages {
  padding: 0 1.5rem;
  text-align: center;
  @include fb.flex-box;
  flex-direction: column;
  background-color: colors.$second-bg;
  padding: 90px 0;
  .advantage-title {
    padding: 0 1.5rem;
    padding-bottom: 30px;
    @include fb.flex-box;
    flex-direction: column;
    margin-bottom: 20px;
    h1 {
      max-width: 400px;
    }
    p {
      max-width: 500px;
    }
  }
}
.slide-container {
  text-align: start;
  max-width: 1220px;
  width: 100%;
  height: 100%;
  background-color: colors.$second-bg;
  padding: 40px;
  .slide-content {
    margin: 0 40px;
    .card {
      width: 300px;
      background-color: colors.$white;
      padding: 50px;
      img {
        margin-bottom: 25px;
      }
    }
  }
}
