@use '../modules/flexbox' as fb;
@use '../modules/colors' as colors;

footer {
  padding: 70px 100px;
  background-color: colors.$third-bg;
  .footer-links {
    @include fb.flex-box(space-between, none);
    margin-bottom: 20px;
    .logo {
      width: 50%;
    }
    .links {
      width: 50%;
      @include fb.flex-box(space-around, none);
      ul {
        .title {
          font-weight: bolder;
          font-size: 16px;
        }
        li {
          padding-bottom: 1rem;
          a {
            color: colors.$header-text;
            font-size: 14px;
          }
        }
      }
    }
  }
  .contact-socialMedia {
    padding: 50px 0;
    border-top: 2px solid colors.$body-text;
    border-bottom: 2px solid colors.$body-text;
    @include fb.flex-box(space-between, none);
    .header-text {
      font-weight: bolder;
    }
    p {
      color: colors.$header-text;
      line-height: 30px;
    }
    .footer-contact {
      width: 50%;
      .header-text {
        font-weight: bolder;
      }
      p {
        color: colors.$header-text;
        line-height: 30px;
      }
      .contact-flex {
        @include fb.flex-box(space-none, none);
        gap: 50px;
        p {
          font-size: 14px;
        }
        i {
          margin-left: 8px;
        }
      }
    }
    .footer-socmed {
      p {
        margin-bottom: 20px;
      }
      img {
        display: inline-block;
        width: 50px;
        margin-right: 20px;
        cursor: pointer;
      }
    }
  }
  .end-footer {
    margin: 30px 0;
    @include fb.flex-box(space-between, none);
    .links {
      a {
        font-size: 14px;
        font-weight: bold;

        text-decoration: none;
        color: colors.$body-text;
        margin-right: 20px;
        i {
          margin-left: 8px;
        }
      }
    }
    .copyright {
      p {
        font-size: 14px;
      }
    }
  }
}

.footer-responsive {
  display: none;
  padding: 40px 1.5rem;
  background-color: colors.$third-bg;
  .link {
    border-bottom: 2.5px solid colors.$body-text;
    padding: 20px 0;
  }
  .link-title {
    @include fb.flex-box(space-between);
    p {
      color: colors.$header-text;
      font-weight: bold;
    }
  }

  ul {
    padding: 10px 0 30px 0;
    padding: 0 1rem;
    li {
      margin-bottom: 20px;
      a {
        color: colors.$body-text;
      }
    }
  }
  .fr-socmed {
    margin: 20px 0;
    @include fb.flex-box(space-between);
    p {
      color: colors.$header-text;
      font-weight: bold;
    }
    img {
      margin-left: 8px;
      width: 30px;
    }
  }
  .privacy-term {
    border-bottom: 2.5px solid colors.$body-text;
    padding-bottom: 20px;
    a {
      margin-right: 10px;
      color: colors.$body-text;
    }
  }
  p {
    margin: 20px 0;
  }
}

.footer-responsive :last-child {
  font-size: 16px;
}

@media only screen and (max-width: 800px) {
  footer {
    display: none;
  }
  .footer-responsive {
    display: block;
  }
}

@media only screen and (max-width: 350px) {
  a {
    font-size: 14px;
    line-height: 24px;
    color: colors.$body-text;
  }
}
