@use '../modules/flexbox' as fb;
@use '../modules/colors' as colors;

// on desktop screen

.navbar {
  padding: 30px 0;
  @include fb.flex-box(space-around);
  ul {
    @include fb.flex-box;
    gap: 20%;
    li {
      a {
        color: colors.$body-text;
      }
      a:hover {
        color: colors.$primary;
        border-bottom: 2.5px solid colors.$primary;
      }
    }
    .dropbtn {
      @include fb.flex-box;
      gap: 10px;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      min-width: 120px;
      padding: 5px 0;
      background-color: colors.$white;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      a {
        display: block;
        padding: 15px 20px;
      }
      i {
        margin-left: 13px;
      }
      a:hover {
        color: colors.$primary;
        border: none;
      }
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
  }
}

button {
  @include fb.flex-box;
  gap: 10px;
  i {
    font-size: 20px;
  }
}

.burger {
  display: none;
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background-color: colors.$primary;
  }
}

nav {
  display: none;
}

// on tablet screen
@media only screen and (max-width: 820px) {
  .navbar {
    position: absolute;
    width: 100%;
    ul {
      display: none;
    }
    button {
      display: none;
    }
    .burger {
      display: block;
    }
  }

  nav {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    background-color: colors.$primary;
    transform: translateX(100%);
    transition: all 1s;
    .header {
      @include fb.flex-box(space-between);
      margin: 0 1.5rem;
      margin-bottom: 1rem;
    }
    img {
      width: 150px;
    }
    ul {
      li {
        border-bottom: 2px solid colors.$white;
        padding: 1.5rem 1rem;
        margin: 0 20px;
        a,
        i {
          font-size: 20px;
          color: colors.$white;
          font-weight: bold;
        }
        #pages:hover {
          cursor: pointer;
        }
        .dropdown-responsive-btn {
          @include fb.flex-box(space-between);
          padding-bottom: 10px;
        }
        .dropdown-responsive-content {
          li {
            border: none;
            i {
              margin-left: 10px;
            }
          }
        }
      }
    }
    .socmed {
      margin-top: 30px;
      @include fb.flex-box(space-between);
      padding: 0 20px;
      p {
        margin: 20px 0;
        color: colors.$white;
        font-size: 20px;
        font-weight: bolder;
      }
      img {
        margin-left: 5px;
        width: 40px;
      }
    }
  }

  .slide {
    transform: translateX(0);
  }
}

// one phone screen
@media only screen and (max-width: 400px) {
}
