* {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

@media only screen and (max-width: 820px) {
  main {
    padding-top: 130px;
  }
}

@media only screen and (max-width: 450px) {
  main {
    padding-top: 130px;
  }
}
